.footer {
  background-color: $third-background-color;
  padding: 60px 0;

  &__container {
    @include flex-column;
    align-items: center;
    text-align: center;
    gap: 60px;

    &-header {
      font-weight: map-get($font-weight, bold);
      text-transform: uppercase;
      color: $primary-header-color;
    }

    &-address {
      @include flex-column;
      gap: 20px;

      &-logo {
        font-family: $secondary-font-family;
        font-weight: map-get($font-weight, bold);
        font-size: map-get($font-size, smaller);
        line-height: map-get($line-height, a);
        color: $third-font-color;
      }

      &-links {
        @include flex-column;
        gap: 8px;
        font-style: normal;
        line-height: map-get($line-height, large);

        &-paragraph {
          color: $third-font-color;
        }

        &-link {
          @include transition-color;
          color: $footer-links-color;

          &:hover,
          &:focus {
            color: $hover-color;
          }
        }
      }
    }

    &-socials {
      @include flex-column;
      gap: 20px;

      &-icons {
        @include flex-row;
        gap: 10px;

        &-icon {
          @include transition-background-color;
          display: block;
          background-color: $footer-links-background-color;
          width: 44px;
          height: 44px;
          fill: $white-svg;
          border-radius: map-get($border-radius, circle);

          &:hover,
          &:focus {
            background-color: $hover-color;
          }
        }
      }
    }

    &-newsletter {
      @include flex-column;
      gap: 20px;

      &-form {
        @include flex-column;
        gap: 20px;
        align-items: center;

        &-input {
          @include transition-border;
          filter: drop-shadow(0px 4px 4px $big-buttons-shadow);
          width: calc(100vw - 30px);
          background-color: $third-background-color;
          padding: 15px 16px;
          border: 1px solid $footer-input-border-color;
          border-radius: map-get($border-radius, big);

          &:hover,
          &:focus {
            border: 1px solid $hover-color;
          }
        }

        &-button {
          @include flex-row;
          @include transition-background-color;
          cursor: pointer;
          gap: 24px;
          align-items: center;
          padding: 10px 28px 10px 42px;
          margin: auto 0;
          background-color: $hover-color;
          box-shadow: 0px 4px 4px $big-buttons-shadow;
          border-radius: map-get($border-radius, big);
          border-style: none;
          font-weight: map-get($font-weight, bold);
          font-size: map-get($font-size, slimmer);
          line-height: map-get($line-height, larger);
          letter-spacing: map-get($letter-spacing, big);
          color: $third-font-color;
          fill: $white-svg;

          &:hover,
          &:focus {
            background-color: $button-active-background-color;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 74px 60px 61px;

    &__container {
      @include flex-wrap;
      flex-direction: unset;

      &-address {
        @include flex-column;
        gap: 20px;

        &-links {
          @include flex-column;
          gap: 8px;
          font-style: normal;
          line-height: map-get($line-height, large);

          &-paragraph {
            color: $third-font-color;
          }

          &-link {
            @include transition-color;
            color: $footer-links-color;

            &:hover,
            &:focus {
              color: $hover-color;
            }
          }
        }
      }

      &-socials {
        @include flex-column;
        gap: 20px;
        margin-bottom: auto;
        margin-left: auto;

        &-icons {
          @include flex-row;
          gap: 10px;

          &-icon {
            @include transition-background-color;
            display: block;
            background-color: $footer-links-background-color;
            width: 44px;
            height: 44px;
            fill: $white-svg;
            border-radius: map-get($border-radius, circle);

            &:hover,
            &:focus {
              background-color: $hover-color;
            }
          }
        }
      }

      &-newsletter {
        @include flex-column;
        gap: 20px;
        margin: 0 auto;

        &-form {
          @include flex-column;
          gap: 20px;
          align-items: center;

          &-input {
            @include transition-border;
            filter: drop-shadow(0px 4px 4px $big-buttons-shadow);
            width: 450px;
            background-color: $third-background-color;
            padding: 15px 16px;
            border: 1px solid $footer-input-border-color;
            border-radius: map-get($border-radius, big);

            &:hover,
            &:focus {
              border: 1px solid $hover-color;
            }
          }

          &-button {
            @include flex-row;
            @include transition-background-color;
            cursor: pointer;
            gap: 24px;
            align-items: center;
            padding: 10px 28px 10px 42px;
            margin: auto 0;
            background-color: $hover-color;
            box-shadow: 0px 4px 4px $big-buttons-shadow;
            border-radius: map-get($border-radius, big);
            border-style: none;
            font-weight: map-get($font-weight, bold);
            font-size: map-get($font-size, slimmer);
            line-height: map-get($line-height, larger);
            letter-spacing: map-get($letter-spacing, big);
            color: $third-font-color;
            fill: $white-svg;

            &:hover,
            &:focus {
              background-color: $button-active-background-color;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 60px 0;

    &__container {
      @include flex-row;
      flex-wrap: nowrap;
      align-items: unset;
      text-align: unset;
      gap: 70px;

      &-address {
        &-logo {
          font-size: map-get($font-size, small);
          line-height: map-get($line-height, smaller);
        }

        &-links {
          gap: 9px;
        }
      }

      &-socials {
        padding-top: 12px;
      }

      &-newsletter {
        padding: 12px 0 0 8px;

        &-form {
          @include flex-row;
          gap: 12px;

          &-input {
            width: 358px;
          }
        }
      }
    }
  }
}
