.main {
  @include flex-column;
  gap: 30px;
  align-items: center;
  background: linear-gradient(
      $grdient-background-color,
      $grdient-background-color
    ),
    url(../images/background-images/background.jpg), no-repeat;
  padding: 118px 58px 118px 57px;
  background-size: cover;

  &__header {
    font-weight: map-get($font-weight, super-bold);
    font-size: map-get($font-size, small);
    line-height: map-get($line-height, biggest);
    text-align: center;
    letter-spacing: map-get($letter-spacing, big);
    text-transform: uppercase;
    color: $primary-header-color;
  }

  &__button {
    @include flex;
    @include transition-background-color;
    cursor: pointer;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, slimmer);
    line-height: map-get($line-height, larger);
    display: flex;
    letter-spacing: map-get($letter-spacing, big);
    color: $third-font-color;
    background: $button-background-color;
    box-shadow: 0px 4px 4px $big-buttons-shadow;
    border-radius: map-get($border-radius, big);
    border-style: none;
    padding: 10px 41px 10px 42px;

    &:hover,
    &:focus {
      background-color: $button-active-background-color;
    }
  }
}

@media (min-width: 768px) {
  .main {
    padding: 118px 201px 118px 202px;
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 200px 452px;

    &__header {
      font-size: map-get($font-size, biggest);
      line-height: map-get($line-height, big);
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background: linear-gradient(
        $grdient-background-color,
        $grdient-background-color
      ),
      url(../images/background-images/mobile-background.jpg), no-repeat;
    background-size: cover;
  }
}
