.lorem {
  @include flex-column;
  gap: 30px;

  &__list {
    @include flex-column;
    gap: 10px;

    &-container {
      @include flex;
      justify-content: center;
      padding: 25px 0;
      background-color: $secondary-background-color;
      border-radius: map-get($border-radius, big);
    }

    &-header {
      font-weight: map-get($font-weight, bold);
      text-transform: uppercase;
      text-align: center;
      color: $secondary-font-color;
      padding-top: 20px;
    }

    &-paragraph {
      line-height: map-get($line-height, large);
    }
  }
}

@media (min-width: 768px) {
  .lorem {
    @include flex-wrap;
    flex-direction: unset;

    &__list {
      flex-basis: calc((100% - 30px) / 2);

      &-header {
        text-align: unset;
      }
    }
  }
}

@media (min-width: 1200px) {
  .lorem {
    @include flex-row;
    flex-wrap: nowrap;
  }
}
