.team {
  @include flex-column;
  gap: 30px;

  img {
    width: 100%;
  }

  &__list {
    background-color: $primary-background-color;
    box-shadow: 0px 1px 3px $team-shadow-one, 0px 1px 1px $team-shadow-two,
      0px 2px 1px $team-shadow-three;
    border-radius: 0px 0px 4px 4px;
    font-size: map-get($font-size, f);
    line-height: map-get($line-height, h);
    text-align: center;

    &-figcaption {
      @include flex-column;
      gap: 10px;
      padding: 30px 0;

      &-header {
        color: $secondary-font-color;
        font-weight: map-get($font-weight, medium);
      }

      &-social {
        @include flex-row;
        justify-content: center;
        gap: 10px;
        padding-top: 6px;

        &-link {
          @include transition-background-color-fill;
          display: block;
          width: 44px;
          height: 44px;
          fill: $primary-svg-color;
          border-radius: map-get($border-radius, circle);

          &:hover,
          &:focus {
            background: $hover-color;
            fill: $white-svg;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .team {
    @include flex-wrap;
    flex-direction: unset;

    &__list {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media (min-width: 1200px) {
  .team {
    @include flex-row;
    flex-wrap: nowrap;
  }
}
