/* Font Family */
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;

/* Font Weight */
$font-weight: (
  "primary": 400,
  "super-bold": 900,
  "bold": 700,
  "medium": 500,
);

/* Font Size */
$font-size: (
  "primary": 14px,
  "biggest": 44px,
  "bigger": 40px,
  "big": 36px,
  "medium": 28px,
  "small": 26px,
  "smaller": 24px,
  "smallest": 20px,
  "slim": 18px,
  "slimmer": 16px,
  "slimmest": 12px,
);

/* Line Height */
$line-height: (
  "primary": 1.14,
  "largest": 2,
  "larger": 1.88,
  "large": 1.72,
  "biggest": 1.62,
  "bigger": 1.56,
  "big": 1.37,
  "medium": 1.3,
  "small": 1.22,
  "smaller": 1.19,
  "smallest": 1.18,
  "slim": 1.17,
  "slimmer": 1.15,
  "slimmest": 1.12,
);

/* Letter Spacing */
$letter-spacing: (
  "primary": 0.03em,
  "big": 0.06em,
  "medium": 0.02em,
  "small": 0.01em,
);
